# Built artifacts
/build
/captures

# Android Studio / IntelliJ
.gradle
/local.properties
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/compiler.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/AndroidProjectSystem.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
*.iml
*.iws
*.ipr

# Keystore files
*.jks
*.keystore

# External Native Build
.externalNativeBuild
.cxx

# OS Files
.DS_Store
